

.projetos {
  
    text-align: center;
    padding: 3rem 1rem; /* Espaçamento interno */
    margin: 3rem 0; /* Espaçamento externo entre seções */
    min-height: 100vh; /* Altura mínima da tela */
    box-sizing: border-box; /* Inclui padding no tamanho total */
}



.projetos h2,h1 {
   
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.projetos h2::after {
   
    content: "";
    display: block;
    width: 80px; /* Comprimento da linha */
    height: 4px; /* Espessura da linha */
    background: #ff5722; /* Cor da linha */
    margin: 0.5rem auto 0; /* Centraliza a linha abaixo do texto */
    border-radius: 2px; /* Bordas arredondadas */
}

/* Itens do carrossel */
.carousel-item {
   
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 500px; /* Altura mínima para o item do carrossel */
    box-sizing: border-box;
}

/* Legenda dos projetos */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 1rem;
    border-radius: 12px;
    max-width: 600px; /* Limita a largura da legenda */
    margin: 0 auto; /* Centraliza a legenda */
}

.card-title, 
.card-text {
    color: #ffffff; /* Cor branca para o texto */
}

/* Controles do carrossel */
.carousel-control-prev,
.carousel-control-next {
    width: auto;
    height: auto;
    margin: 200px;
    display: inline-block;
}

.carousel-controls {
    text-align: center;
    margin-top: 30px; /* Espaço abaixo dos controles */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333; /* Cor do ícone */
    border-radius: 100%;
}

/* Espaçamento adicional para alinhamento */
.carousel-item img {
    max-height: 3000px; /* Ajuste da altura da imagem */
    margin: auto;
    object-fit: cover; /* Ajusta para cobrir o espaço */
}


.github-container {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #240243;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .github-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .github-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .github-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .github-card {
    background-color: #00000061;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .github-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .github-name {
    font-size: 20px;
    color: #0366d6;
    font-weight: bold;
    text-decoration: none;
  }
  
  .github-name:hover {
    text-decoration: underline;
  }
  

  
  .github-language {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .github-link {
    display: inline-block;
    font-size: 14px;
    color: #0366d6;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .github-link:hover {
    text-decoration: underline;
  }
  